.image-box {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.image-box img {
    max-width: 90%;
    max-height: 100vh;
}

.actions {
    margin-top: 10px;
    margin-bottom: 5px;
}