.btn-clear {
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px lightgrey;
    padding: 10px 8px;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.yes {
    background-color: rgba(0, 128, 0, 0.788);
    color: white;
}

.yes:hover {
    background-color: rgb(0, 128, 0);
    color: white;
}

.no {
    background-color: rgba(255, 0, 0, 0.76);
    color: white;
}

.no:hover {
    background-color: red;
    color: white;
}