<div class="money-outer">
    <div class="d-flex sub-nav-box">
        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLinkActive="active-nav" routerLink="create">add</mat-icon>
        </button>

        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLink="overview">home</mat-icon>
        </button>
        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLink="transactions">list</mat-icon>
        </button>
        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLinkActive="active-nav" routerLink="accounts">account_balance</mat-icon>
        </button>

        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLinkActive="active-nav" routerLink="lenders">group_remove</mat-icon>
        </button>

        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLinkActive="active-nav" routerLink="types">category</mat-icon>
        </button>
        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLinkActive="active-nav" routerLink="report">show_chart    </mat-icon>
        </button>
        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLinkActive="active-nav" routerLink="notes">edit_note    </mat-icon>
        </button>
        <button class="btn-nav" routerLinkActive="active-nav">
            <mat-icon mat-list-icon routerLinkActive="active-nav" routerLink="estimation/new">equal</mat-icon>
        </button>

    </div>
    <router-outlet></router-outlet>
</div>