<div class="container mt-4">
    <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
        <div class="mb-3">
            <!-- <label for="image" class="form-label">Book Image</label> -->
            <button class="btn btn-primary button" (click)="fileupload()" type="button">  <mat-icon mat-list-icon>upload</mat-icon></button>
          </div>
          <div *ngIf="image" class="mb-3 w-100 h-auto">
            <img src="{{image}}" class="img-thumbnail" alt="">
          </div>
      <div class="mb-3">
        <label for="name" class="form-label">Book Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Book Code</label>
        <input type="text" class="form-control" id="code" [(ngModel)]="code" name="code" required>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="price" name="price" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="description" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="semester" class="form-label">Semester</label>
        <input type="text" class="form-control" id="semester" [(ngModel)]="semester" name="semester" required>
      </div>
      <div class="mb-3">
        <label for="branch" class="form-label">Branch</label>
        <input type="text" class="form-control" id="branch" [(ngModel)]="branch" name="branch" required>
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!bookForm.form.valid">Add Book</button>
    </form>
  </div>
  