.cred-box{
    position: relative;
}
.closebtn{
    position: absolute;
    position: absolute;
    top: 4px;
    right: 3px;
}
.btn-x{
    width: 25px;
    font-size: 13px;
    height: 17px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

}