<div id="p1" class="profile">

</div>
<div id="p2" class="name bold">Muhammed Ramshin</div>
<div class="details" id="p4">

    <span>Human</span> | <span>Entrepreneur</span> | <span>Programmer</span> | <span>Believer</span>
</div>

<div id="p3" class="links">

    <span id="a1"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></span> &nbsp; &nbsp;
    <span id="a2"><a href="https://www.linkedin.com/in/muhammed-ramshin-528596100/"> <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span> &nbsp; &nbsp;
    <span id="a3"><a href="https://github.com/muhammedramshin"><i class="fa fa-github-square" aria-hidden="true"></i></a></span> &nbsp; &nbsp;
    <span id="a4"><a href="works.html"> <i class="fa fa-code" aria-hidden="true"></i></a></span> &nbsp; &nbsp;
    <span id="a5"><a href="https://blog.muhdramshin.me"> <i class="fa fa-rss-square" aria-hidden="true"></i></a></span> &nbsp; &nbsp;
    <span id="a6"><a href="certificates.html"> <i class="fa fa-certificate" aria-hidden="true"></i></a></span> &nbsp; &nbsp;

</div>