.bx {
    height: calc(100vh - 80px)!important;
    display: flex;
    justify-content: center;
    background: #000000;
    align-items: center;
}

.icon-px {
    font-size: 100px;
    color: white;
    height: 100px;
    width: 100px;
}
.icon-px-small {
    font-size: 12px;
    color: white;
    height: 14px;
    width: 14px;
}

.icon-small {
    font-size: 18px;
    color: white;
    height: 18px;
    width: 30px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px dotted white;
    margin: 8px;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    row-gap: 5px;
}

.text-box {
  
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.text-box-out{
    position: absolute;
    top: 19px;
   
    max-width: 90%;
    width: 90%;
}

.text-box-out-down{
    position: absolute;
    bottom: 19px;
   
    max-width: 90%;
    width: 90%;
}

.snd-btn {
    padding: 7px;
    border-radius: 0% 20% 20% 0%;
    background-color: #0531ff;
    color: white;
    margin-left: -4px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    COLOR: chartreuse;
    text-align: center;
    font-size: 15px;
    background: rgb(124 138 132 / 0%);
  }
  .slider-1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide-1 {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    COLOR: rgb(217, 17, 17);
    text-align: center;
    font-size: 15px;
    background: #49bc8a1a;
  }
  