.box-outer {
    background-color: white;
}

.action-btns {
    display: flex;
    justify-content: flex-end;
}

.btn-cancel {
    margin-right: 15px;
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.btn-confirm {
    margin-right: 10px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    color: white;
    background-color: black;
}