.bx {
    height: calc(100vh - 145px);
}

.s-box {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    width: 250px;
    background: #0e0c0c;
}

.s-label {
    font-size: 11px;
    color: lightgrey;
}

.s-value {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.f-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}